<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<div class="container">
  <nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="/">Reseptisovellus</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Kaikki reseptit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/createrecipe">Luo uusi resepti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userrecipes">Omat suosikit</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Olet kirjautunut nimellä {{ session.username }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: 140px;">
            <a class="dropdown-item" href="/logout">Kirjaudu ulos</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>


<h1>{{ recipe[1] }}
  <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#changerecipename" aria-expanded="false" aria-controls="changerecipename">
    <i class="fa fa-pencil-square-o"></i>
  </button>
 </h1>


<div class="collapse" id="changerecipename">
  <div class="card card-body">
    <form action="/changerecipename" method="POST">
      <p>Vaihda reseptin nimi:<input type="text" name="newname" value="{{recipe[1]}}" pattern="(?=.*[A-Z]).{3,}" oninvalid="this.setCustomValidity('Tulee olla 3 merkkiä pitkä ja sisältää ison kirjaimen')"
        oninput="this.setCustomValidity('')" required>
      <input type="text" name="id" value="{{ recipe[0] }}" style="display: none;">
      <input type="submit" value="Vaihda"></p>
    </form>
  </div>
</div>


<h2>Ainekset:</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Määrä</th>
      <th>Admin options</th>
    <tr>
  </thead>
  <tbody>
    {% for ingredient in ingredients %}
    <tr>
      <td><a>{{ ingredient[1] }}</a></td>
      <td><a>{{ ingredient[2] }}</a></td>
      <td><a href="/deleteingredient/{{ ingredient[0] }}"><button>Poista</button></a>
        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse"
        data-target="#updateingredient{{ ingredient[0] }}" aria-expanded="false" aria-controls="updateingredient{{ ingredient[0] }}">
        <i class="fa fa-pencil-square-o"></i>
        </button>
      </td>
      <tr>
        <td colspan="3" style="border-top: 0;">
          <div class="collapse" id="updateingredient{{ ingredient[0] }}">
            <div class="card card-body">
              <form action="/updateingredient" method="POST">
                <p>Aines:
                 <input type="text" name="ingredientname" value= "{{ingredient[1]}}" minlength="3" oninvalid="this.setCustomValidity('Tulee olla 3 merkkiä pitkä')"
                 oninput="this.setCustomValidity('')" required>Määrä:<input type="text" name="ingredientamount" value= "{{ingredient[2]}}">
                  <input type="text" name="recipeid" value="{{ recipe[0] }}" style="display: none;">
                  <input type="text" name="ingredientid" value="{{ ingredient[0] }}" style="display: none;">
                  <input type="submit" value="Muokkaa">
                </p>
              </form>
            </div>
          </div>
        </td>
      </tr> 
      {% endfor %}
    </tr>  
  </tbody>
</table>

<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#addingredient" aria-expanded="false" aria-controls="addingredient" style="margin-left: 74%; width: 95px;">
  Lisää aines
</button>

<div class="collapse" id="addingredient">
  <div class="card card-body" style="margin-left: 5%;">
    <form action="/addingredient" method="POST">
      <p>Lisää aines:<input type="text" name="ingredientname" minlength="3" oninvalid="this.setCustomValidity('Tulee olla 3 merkkiä pitkä')"
        oninput="this.setCustomValidity('')" required>        Määrä:<input type="text" name="ingredientamount">
      <input type="text" name="id" value="{{ recipe[0] }}" style="display: none;">
      <input type="submit" value="Lisää"></p>
    </form>
  </div>
</div>

<h2>Ohje:</h2>
<table class="table">
  <tbody>
      {% for content in contents %}
      <tr>
          <td><a>{{ content[1] }}</a></td>
          <td><a></a></td>
          <td><a href="/deletecontent/{{ content[0] }}"><button>Poista</button></a> 
            <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse"
                    data-target="#updaterecipecontent{{ content[0] }}" aria-expanded="false" aria-controls="updaterecipecontent{{ content[0] }}">
              <i class="fa fa-pencil-square-o"></i>
            </button>
          </td>
      </tr>
      <tr>
        <td colspan="2" style="border-top: 0;">
          <div class="collapse" id="updaterecipecontent{{ content[0] }}">
            <div class="card card-body">
              <form action="/updaterecipecontent" method="POST">
                <p>Päivitetty ohje:
                  <textarea class="form-control" rows="5" name="content" minlength="10" oninvalid="this.setCustomValidity('Tulee olla 10 merkkiä pitkä')"
                  oninput="this.setCustomValidity('')" required>{{ content[1] }}</textarea>
                  <input type="text" name="recipeid" value="{{ recipe[0] }}" style="display: none;">
                  <input type="text" name="contentid" value="{{ content[0] }}" style="display: none;">
                  <input type="submit" value="Muokkaa">
                </p>
              </form>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>


<button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#addcontent" aria-expanded="false" aria-controls="addcontent" style="margin-left: 74%; width: 95px;">
  Lisää ohje
</button>

<div class="collapse" id="addcontent">
  <div class="card card-body" style="margin-left: 5%;">
    <form action="/addcontent" method="POST">
      <p>Reseptiohje:<textarea class="form-control" rows="5" name="content" minlength="10" oninvalid="this.setCustomValidity('Tulee olla 10 merkkiä pitkä')"
        oninput="this.setCustomValidity('')" required></textarea>
      <input type="text" name="id" value="{{ recipe[0] }}" style="display: none;">
      <input type="submit" value="Lisää"></p>
    </form>
  </div>
</div>

<h2>Kommentit:</h2>
<table class="table">
  <tbody>
      {% for message in messages %}
      <tr>
          <td><a>{{ message[2] }}: {{ message[1] }}</a></td>
          <td><a></a></td>
          <td><a href="/deletemessage/{{ message[0] }}"><button>Poista</button></a></td>
      </tr>
      {% endfor %}
  </tbody>
</table>
          
<div class="contact-form">     
  <form action="/addmessage" method="POST">         
      <div class="form-group">
         <label for="inputMessage" >Kirjoita kommentti</label>
         <input type="text" name="id" value="{{ recipe[0] }}" style="display: none;">
         <input type="text" name="username" value="{{ session.username }}" style="display: none;">
         <input type="text" name="userid" value="{{ session.id }}" style="display: none;">
         <textarea class="form-control" rows="5" name="content" minlength="3" oninvalid="this.setCustomValidity('Tulee olla 3 merkkiä pitkä')"
         oninput="this.setCustomValidity('')" required></textarea>
      </div>
     <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Lähetä</button>
  </form>
</div>
          
     

