<h2>Ohje:</h2>
<table class="table">
  <tbody>
  {% for content in contents %}
    <tr>
      <td colspan="2">
        {{ content[1] }}
      </td>
      <td>
        {% if session.owner or session.admin %}
        <button 
          class="btn btn-primary" 
          type="button" 
          data-toggle="collapse"
          data-target="#updaterecipecontent{{ content[0] }}" 
          aria-expanded="false" 
          aria-controls="updaterecipecontent{{ content[0] }}">
            <i class="fa fa-pencil-square-o"></i>
        </button>
        <a href="#delete{{ content[0] }}" class="trigger-btn" data-toggle="modal">
          <button class="btn btn-danger"><i class="fa fa-times-circle"></i></button>
        </a> 
        {% endif %}
      </td>
    </tr>
      <div id="delete{{ content[0] }}" class="modal fade">
        <div class="modal-dialog modal-confirm">
          <div class="modal-content">
            <div class="modal-header flex-column">			
              <h4 class="modal-title w-100" style="text-align: center;">Oletko varma?</h4>	
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <p class="text-center">Poistetaanko ohje?</p>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
              <form action="/deletecontent/{{ content[0] }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <button type="submit" class="btn btn-danger">Poista</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <tr>
      <td colspan="2" style="border-top: 0;">
        <div class="collapse" id="updaterecipecontent{{ content[0] }}">
          <div class="card card-body">
            <form action="/updaterecipecontent" method="POST">
              <p>Päivitetty ohje:
                <textarea 
                  class="form-control" 
                  rows="5" 
                  name="content" 
                  minlength="10" 
                  maxlength="1000" 
                  oninvalid="this.setCustomValidity('Tulee olla 10-1000 merkkiä pitkä')"
                  oninput="this.setCustomValidity('')" 
                  required>{{ content[1] }}</textarea>
                <input type="text" name="recipeid" value="{{ recipe[0] }}" style="display: none;">
                <input type="text" name="contentid" value="{{ content[0] }}" style="display: none;">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Muokkaa">
              </p>
            </form>
          </div>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% if session.owner or session.admin %}

<button 
  class="btn btn-primary btn-sm" 
  type="button" 
  data-toggle="collapse" 
  data-target="#addcontent" 
  aria-expanded="false" 
  aria-controls="addcontent" 
  style="margin-left: 74%; width: 95px;">
    Lisää ohje
</button>

{% endif %}

<div class="collapse" id="addcontent">
  <div class="card card-body" style="margin-left: 5%;">
    <form action="/addcontent" method="POST">
      <p>
        Reseptiohje:
        <textarea 
        class="form-control" 
        rows="5" 
        name="content" 
        minlength="10" 
        maxlength="1000" 
        oninvalid="this.setCustomValidity('Tulee olla 10-1000 merkkiä pitkä')"
        oninput="this.setCustomValidity('')" 
        required></textarea>
        <input type="text" name="id" value="{{ recipe[0] }}" style="display: none;">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Lisää">
      </p>
    </form>
  </div>
</div>